#root {
  display: flex;
  justify-content: center;
  width: 100%;
}

.form-table{
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.title-table th{
  text-align: start;
  font-size: 1.5rem;
}

.table-price{
  text-align: center;
}

.colSpan2{
  text-align: start;
  font-size: 1.5rem;
}

.filter-tablet{
  border: 1px white solid;
  padding: 10px;
  width: 250px;
}

.no-stocked{
  color: red;
}

